.buttons {
  width: 35%;
  display: flex;
  justify-content: flex-start;
  padding: 15px;
  border-bottom: black solid;
  margin-bottom: 20px;
}

button {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.start:hover {
  cursor: pointer;
  background: rgb(135, 232, 235);
}

.stop:hover {
  cursor: pointer;
  background: pink;
}

.reset:hover {
  cursor: pointer;
  background: rgba(0, 119, 255, 0.787);
}

.split:hover {
  cursor: pointer;
  background: rgb(205, 146, 50);
}
